/* RGB */
$color1: rgba(51, 24, 50, 1);
$color1-transparent: rgba(51, 24, 50, 0.5);
$color2: rgba(240, 95, 64, 1);
$color3: rgba(203, 232, 150, 1);
$color4: rgba(255, 255, 252, 1);
$color4-transparent: rgba(255, 255, 252, 0.7);
$color5: rgba(62, 92, 118, 1);

/* Media queries sizes */ 
$break-small: 576px;
$break-medium: 720px;
$break-large: 992px;
$break-extra-large: 1200px;

body,
h2,
a,
.btn {
    font-family: 'Raleway', sans-serif;
}

.logo-principal {
  opacity: 0.5;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#header-fraterna {
  .overlay {
    top: 0;
    left: 0;
  } 
}

#contact.parallax {
  background-image: url("../img/flor_burucuya.jpg");
}

#contact {

  color: $color1;

  h2 {
    font-weight: 700;
  }
  .overlay {
    margin-top: -8em;
    z-index: 0;
  }
  .form-container {
    background-color: $color4-transparent;
  }
  input,
  textarea {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid $color1;
    padding-bottom: 5px;
  }
  textarea {
    border: 1px solid $color1;
    border-radius: 5px;
    min-height: 10em;
  }
  label {
    width: 75%;
    color: $color2;
  }
  input:focus,
  textarea:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: $color4-transparent;
    border-radius: 5px;
  }
  
  input:focus {
    border-bottom: 2px solid transparent;
  }
  
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder{ /* WebKit browsers */
    color: transparent;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color1;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color1;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $color1;
  }
}

#restaurante.parallax {
  background-image: url("../img/portfolio/fullsize/risotto2.JPG");
}

.parallax {
  min-height: 650px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1200px) {
  .parallax {
      background-attachment: scroll;
      height: auto;
  }
}

#div-consulta {
  top: 1em;
  width: 35%;
  z-index: 1031;
  position: absolute;
  margin: 0 35%;
}
.error {
    color: $color1;
}
footer {
  font-family: 'Raleway', sans-serif;
  background-color: $color5;
  color: $color2;
}
