body {
    font-family: 'Lato', sans-serif;
}
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: fill;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('../img/la_fraterna_website.mp4') black no-repeat center center scroll;
    }
}

@font-face {
    font-family: "Jolly";
    src: url(fonts/Jolly_Bold.ttf) format("truetype");
}
.la-fraterna-nav-title { 
    cursor: pointer;
    font-family: "Jolly", Verdana, Tahoma;
    color: inherit;
    font-size: 2em;
}
.la-fraterna-nav-title:hover {
    text-decoration: none;
}
.la-fraterna-logo-nav {
    width: 100px;
}

#restaurante.parallax {
    background-image: url("../img/portfolio/fullsize/risotto2.JPG");
}

.parallax {
    height: 650px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1200px) {
    .parallax {
        background-attachment: scroll;
        height: auto;
    }
}

#mainNav {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.7);
}

#mainNav.navbar-shrink.navbar-light .navbar-toggler {
    border-color: #7f7f7f;
}

.navbar-light .navbar-toggler-icon {
    display: none;
}

#mainNav.navbar-shrink {
    color: inherit;
}

.navbar-shrink .fas.fa-bars {
    color: inherit;
}

.fas.fa-bars {
    color: white;
}

/* col-lg (Large) */
@media (min-width: 992px) {
}

footer {
    font-family: "Jolly", Verdana, Tahoma;
    background-color: #561d25;
    color: #f3c98b;
    /* background-color: #f3c98b; */
}

#contact {
    color: #a5402d;
    background-color: #f3c98b;
}

@media only screen and (max-device-width: 1200px) {
    .parallax {
        background-attachment: scroll;
        height: auto;
    }
}

form input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #a5402d;
    width: 50%;
    color: #a5402d;
}
form textarea {
    width: 50%;
    border: 1px solid transparent;
    background-color: transparent;
    color: #a5402d;
}
form input:focus,
form textarea:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid transparent;
}

form input:focus::-webkit-input-placeholder,
form textarea:focus::-webkit-input-placeholder{ /* WebKit browsers */
    color: transparent;
}
#btn-enviar {
    width: 5em;
    /* border: 1px solid #561d25; */
    background-color: #a5402d;
    box-shadow: 2px 2px 2px #a5402d;
    color: #f3c98b;
    border-radius: 4px;
    cursor: pointer;
}